/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}


h1 {
  color: $dark-grey;
  padding: padding(medium) padding(large);
  border-left: 5px solid $primary;
}

h2 {
  color: $dark-grey;
}

h3 {
  font-style: italic;
}

h4 {

}

h5 {

}