// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.colors-boxes {
  @include flex(row, nowrap, start);
  @include box-shadow($shadow-2);

  width: 100%;

  > div {
    width: 100%;
    min-width: 100px;
    min-height: 100px;

    @include color-box($primary, primary, $accent);
    @include color-box($secondary, secondary);
    @include color-box($accent, accent);
    @include color-box($grey, grey, $accent);
    @include color-box($dark-grey, dark-grey, $accent);
    @include color-box($light-grey, light-grey, $accent);
  }

  $lighten_amount: 15;

  &.lighter {
    box-shadow: none;

    > div {
      @include color-box(lighten($primary, $lighten_amount), primary, lighten($accent, $lighten_amount));
      @include color-box(lighten($secondary, $lighten_amount), secondary);
      @include color-box(lighten($accent, $lighten_amount), accent);
      @include color-box(lighten($grey, $lighten_amount), grey, lighten($accent, $lighten_amount));
      @include color-box(lighten($dark-grey, $lighten_amount), dark-grey, lighten($accent, $lighten_amount));
      @include color-box(lighten($light-grey, $lighten_amount), light-grey, lighten($accent, $lighten_amount));
    }
  }
}

.border-radius {
  position: relative;
  padding: padding(medium);
  height: 100px;
  background-color: lighten($light-grey, 30);
  @include border-radius($border-radius);

  > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

